* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  background-color: #000000;
}
.mainScreen {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.screenBackground {
  background-color: #f0f0f0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: #f0f0f0;
}

.mainInfo h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.mainInfo p {
  font-size: 1.2rem;
  color: #aaaaaa;
}

.buttonsMain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 15px;
}
.buttonActionMovie {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #00925d;
  color: #f0f0f0;
  font-size: 0.875rem;
  cursor: pointer;
}
.buttonActionMovie:hover {
  background-color: #007d54;
}
.buttonListMovie {
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: transparent;
  color: #f0f0f0;
  font-size: 0.875rem;
  cursor: pointer;
}
.buttonListMovie:hover {
  background-color: rgba(0, 146, 93, 0.1);
}
